#content {
    padding-left: 0;
    padding-right: 0;
}

#content-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
}

#content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    flex-direction: column;
}

#content-block {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-input {
    margin-right: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
}

.content-left-aligned {
    align-self: flex-start;
    padding: 0;
    margin: 0;
}

.content-heading {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
    margin: 10px 0;
}

.content-left-fixed {
    align-self: flex-start;
    margin-left: -55px;
    margin-top: -20px;
}

.content-text-signup {
    color: black;
    margin: 10px;
    font-weight: 400;
}

.content-text-welcome {
    color: black;
    margin: 5% 10%;
    font-weight: 400;
}

.text-big {
    font-size: 200%;
}

.bar {
    height: 4px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content-green {
    color: var(--primary-green)
}

::placeholder {
    color: white;
    opacity: 1;
    font-style: italic;
    margin-left: 25px;
}

.content-button {
    margin-right: 15px;
    border: 0 solid var(--secondary-yellow);
    border-width: 0 0 2px 0;
    border-radius: 0;
    font-weight: 600;
    color: white;
    max-height: 30px;
    min-width: 80px;
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#content-main > h1 {
    margin: -10px;
    margin-bottom: 10px;
}

#content-main .content-subtitle {
    color: black;
    margin: -10px;
    margin-bottom: 30px;
}

#content-block > h1 {
    margin: 20px;
    margin-left: 30px;
    font-size: 25px;
}

.cus-content {
    color: black;
    min-width: 1000px;
}

.cus-box {
    background-color: white;
    border-width: 5px 0 0 0;
    border-color: var(--primary-green);
    border-style: solid;
    margin: 20px 0;
}

.cus-box .columns {
    margin: 0;
}

.cus-box .columns .column {
    flex-basis: auto;
}

.cus-box .cus-label {
    font-size: 15px;
}

.cus-box .cus-sublabel {
    font-size: 17px;
    font-weight: 600;
}

.cus-box .column a {
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.cus-box .cus-btn {
    color: white;
    font-weight: 600;
    font-size: 17px;
    background-color: var(--primary-green);
    border-width: 0 0 3px 0;
    border-color: var(--secondary-green);
    border-style: solid;
    text-align: center;
    width: 125px;
}

.ccc-badge {
    margin-left: 5px;
    background-color: var(--secondary-green);
    padding: 3px 5px;
    color: white;
    text-align: center;
    width: 50px;
}

.ccc-score + div {
    font-size: 10px;
}

.kartei {
    padding: 12px;
}

.k-number {
    font-size: 14px;
}

.k-title {
    font-weight: 600;
}

.k-footer {
    padding-left: 120px;
}

.k-footer .cus-btn a {
    color: white;
}

.k-footer .cus-btn {
    display: inline-block;
}

.btn-del {
    background-color: var(--primary-red) !important;
    border-color: var(--secondary-red) !important;
    width: 40px !important;
}