:root {
	--primary-green: #2ECC71;
	--primary-yellow: #FED330;
	--primary-red: #E74C3C;
	--primary-blue: #34495E;
	--secondary-green: #27AE60;
	--secondary-yellow: #F7B731;
	--secondary-red: #C0392B;
	--secondary-blue: #2C3E50;
	--background: #ECF0F1;
	--font-color: #FFFFFF;

	--navbar-height: 50px;
	--sidebar-width: 225px;
}

body {
	font-family: 'Roboto', 'sans-serif';
	color: var(--font-color, black);
	height: 100vh;
}

.white {
	color: var(--font-color, white);
}

.black {
	color: black;
}

.white-bg {
	background-color: var(--font-color, white);
}

.cp {
	background-color: var(--background, gray);
}

.cpg {
	background-color: var(--primary-green, green);
}

.cpy {
	background-color: var(--primary-yellow, yellow);
}

.cpr {
	background-color: var(--primary-red, red);
}

.cpb {
	background-color: var(--primary-blue, blue);
}

.csg {
	background-color: var(--secondary-green, green);
}

.csy {
	background-color: var(--secondary-yellow, yellow);
}

.csr {
	background-color: var(--secondary-red, red);
}

.csb {
	background-color: var(--secondary-blue, blue);
}

.topbar {
	max-height: var(--navbar-height);
	min-height: var(--navbar-height);
	height: var(--navbar-height);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.small {
	font-size: small;
}