.content-header {
    color: black;
    margin: 20px 5%;
    font-size: 15px;
}

.ch-title, .cat-title {
    font-size: 30px;
    font-weight: 600;
}

.ch-subtitle {
    display: flex;
    color: black;
}

.ch-subtitle-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.ch-subtitle-right > div {
    margin-right: 10px;
}

.content-header input, .content-header select {
    border-color: black;
    border-radius: 0;
    border-width: 2px;
    background-color: var(--background);
}

.content-header input::placeholder {
    color: black;
}

.categories {
    color: black;
    margin: 20px 5%;
}

.cat-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.cat-content {
    display: flex;
    margin-bottom: 30px;
}

.cat-divider {
    margin: 0 10px;
}

.cat-card {
    width: 300px;
    height: 360px;
    background-color: white;
}

.cc-title {
    background-color: var(--primary-green);
    text-align: center;
    color: white;
    font-weight: 500;
}

.cc-content {
    margin: 15px;
}

.ccc-header {
    display: flex;
    align-items: center;
    height: 60px;
    max-height: 60px;
    padding-bottom: 15px;
}

.ccc-title {
    font-weight: 500;
    font-size: 18px;
    width: 500px;
    max-width: 500px;
}

.ccc-badge {
    margin-left: 5px;
    background-color: var(--secondary-green);
    padding: 3px 5px;
    color: white;
    text-align: center;
}

.ccc-score {

}

.ccc-score + div {
    font-size: 10px;
}

.ccc-content {
    max-height: 120px;
    height: 120px;
}

.ccc-footer {
    text-align: center;
    margin-top: 35px;
}

.ccc-footer .del-btn {
    background-color: var(--primary-red);
    border-color: var(--secondary-red);
    min-width: 30px;
}

.ccc-footer .suc-btn {
    background-color: var(--primary-green);
    border-color: var(--secondary-green);
    width: 90px;
}