:root {
	--primary-green: #2ECC71;
	--primary-yellow: #FED330;
	--primary-red: #E74C3C;
	--primary-blue: #34495E;
	--secondary-green: #27AE60;
	--secondary-yellow: #F7B731;
	--secondary-red: #C0392B;
	--secondary-blue: #2C3E50;
	--background: #ECF0F1;
	--font-color: #FFFFFF;

	--navbar-height: 50px;
	--sidebar-width: 240px;

	--hex-height: 23.09px;
	--hex-width: 40px; 
	--hex-margin: 11.55px;
	--hex-border: 20px;
}

* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'sans-serif' !important;
	color: var(--font-color, black);
	margin: 0;
}

a {
	text-decoration: none;
}

.row {
	padding: 0;
	margin: 0;
}

.row > div {
	padding: 0;
	margin: 0;
}

input, select, textarea {
	min-height: 30px;
	font-size: 15px;
	border-color: lightgray;
	border-style: solid;
	border-width: 2px;
	border-radius: 0;
}

button {
	font-family: 'Roboto', 'sans-serif' !important;
}

.white {
	color: var(--font-color, white);
}

.black {
	color: black;
}

.white-bg {
	background-color: var(--font-color, white);
}

.cp {
	background-color: var(--background, gray);
}

.cpg {
	background-color: var(--primary-green, green);
}

.cpy {
	background-color: var(--primary-yellow, yellow);
}

.cpr {
	background-color: var(--primary-red, red);
}

.cpb {
	background-color: var(--primary-blue, blue);
}

.csg {
	background-color: var(--secondary-green, green);
}

.csy {
	background-color: var(--secondary-yellow, yellow);
}

.csr {
	background-color: var(--secondary-red, red);
}

.csb {
	background-color: var(--secondary-blue, blue);
}

.topbar {
	max-height: var(--navbar-height);
	min-height: var(--navbar-height);
	height: var(--navbar-height);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.small {
	font-size: small;
}

.fat {
	font-weight: 600;
}

.hexagon {
  position: relative;
  width: var(--hex-width); 
  height: var(--hex-height);
  background-color: var(--primary-green, green);
	margin: var(--hex-margin) 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: var(--hex-border) solid transparent;
  border-right: var(--hex-border) solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: var(--hex-margin) solid var(--primary-green, green);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: var(--hex-margin) solid var(--primary-green, green);
}

.button {
	padding: 5px 10px;
	margin: 5px 10px;
	background-color: var(--primary-yellow);
	border: 0 solid var(--secondary-yellow);
	border-width: 0 0 2px 0;
	border-radius: 0;
	font-weight: 600;
	color: white;
	height: auto;
	width: auto;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.danger-button {
	background-color: var(--primary-red);
	border-color: var(--secondary-red);
}

.success-button {
	background-color: var(--primary-green);
	border-color: var(--secondary-green);
}

.box {
	background-color: white;
	border-style: solid;
	border-width: 5px 0 0 0;
	border-color: var(--primary-green);
	color: black;
}

form label {
	color: black;
}

.content-header {
	color: black;
	margin: 20px 40px;
	margin-bottom: 30px;
}

.content-title {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 10px;
}

.content-subtitle {
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 20px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hexagon-cards-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hexagon-cards p {
    font-weight: 600;
    margin: -3px;
    padding: 0;
    z-index: 1;
}

.super-small-text {
    font-weight: 400 !important;
    font-size: 60%;
}