.content-header {
    color: black;
    margin: 20px 5%;
    font-size: 15px;
}

.ch-title, .cat-title {
    font-size: 30px;
    font-weight: 600;
}

.ch-subtitle {
    display: flex;
    color: black;
}

.ch-subtitle-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.ch-subtitle-right > div {
    margin-right: 10px;
}

.content-header input, .content-header select {
    border-color: black;
    border-radius: 0;
    border-width: 2px;
    background-color: var(--background);
}

.content-header input::placeholder {
    color: black;
}

.categories {
    color: black;
    margin: 20px 5%;
}

.cat-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.cat-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.cat-card {
    width: 250px;
    height: 260px;
    background-color: white;
    margin: 0 20px 20px 0;
}

.cc-title {
    background-color: var(--primary-green);
    text-align: center;
    color: white;
    font-weight: 500;
}

.cc-content {
    margin: 15px;
}

.ccc-header {
    display: flex;
    align-items: center;
    height: 60px;
    max-height: 60px;
    padding-bottom: 15px;
}

.ccc-title {
    font-weight: 500;
    font-size: 18px;
    width: 175px;
    max-width: 175px;
}

.ccc-badge {
    margin-left: 5px;
    padding: 3px 5px;
    color: white;
    text-align: center;
}

.ccc-score + div {
    font-size: 10px;
}

.ccc-content {
    max-height:120px;
    height: 120px;
}

.ccc-footer {
    text-align: center;
}

.hexagon-display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hexagon-counter p {
    font-weight: 600;
    margin: -3px;
    padding: 0;
    z-index: 1;
}

.super-small-text {
    font-weight: 400 !important;
    font-size: 60%;
}