#content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    flex-direction: column;
}

#content-block {
    width: 100%;
}

.content-text-signup {
    color: black;
    margin: 10px;
    font-weight: 400;
}

.content-block {
    border: 0 solid var(--primary-green);
    border-width: 4px 0 0 0;
    border-radius: 0;
    padding-top: 10px;
    color: black;
    background-color: white;
    margin-bottom: 35px;
}

.text-big {
    font-size: 200%;
}

.content-heading {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 400%;
    margin: 10px 0;
}

.content-left-aligned {
    align-self: flex-start;
    padding: 0;
    margin: 0;
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.signup {
    margin: 0 15% 0 0;
    display: flex;
    flex-direction: column;
}

.input-and-label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: black;
    padding: 5px;
}

.input-and-label label {
    margin-right: 30px;
}

.input-and-label input {
    padding: 4px 180px 4px 5px;
    border-radius: 0;
    border-color: #d3d3d3;
    border-style: solid;
}

.warning-box {
    position: absolute;
    left: 650px;
    min-width: 300px;
}

.warning-box p {
    background-color: red;
    color: white;
    padding: 0 4px;
}

.warning-box .left-arrow {
    position: absolute;
    left: -30px;
    top: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 35px 10px 0;
    border-color: transparent #ff0000 transparent transparent;
}

.input-and-label ::placeholder {
    color: #d3d3d3;
    opacity: 1;
    font-style: italic;
}

.content-agreement {
    align-self: center;
    margin-left: 40%;
}

.content-agreement .warning-box {
    position: absolute;
    left: 408px;
    min-width: 300px;
}

#button-register {
    margin-top: 30px;
    align-self: center;
    max-width: 10%;
}

#button-register a {
    font-size: 150%;
    padding: 10px 30px;
}