#content {
    padding-left: 0;
    padding-right: 0;
}

#content-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4%;
}

#content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    flex-direction: column;
}

.content-block-wrapper {
    width: 70%;
    position: relative;
   
}

.content-block {
    padding-top: 10px;
    color: black;
}

.content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 0;
}

.content-row .row-name {
    display: flex;
    min-width: 10%;
    justify-content: flex-end;
    padding: 0 2%;
}

.content-row .row-value {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 2%;
}

.content-input {
    margin-right: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
}

.content-left-aligned {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content-title-block {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    margin-bottom: 30px;
    font-weight: 400;
}

.content-title-block p {
    font-weight: 400;
}

.content-title-block h1 {
    font-weight: 600;
    font-size: 250%;
}

.content-overview-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.content-overview-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 5px 1%;
}

.label-and-value label {
    font-size: 90%;
}

.label-and-value p {
    font-weight: 600;
}

#cards {
    font-weight: 600;
}

.card-status {
    
}

.label-and-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-and-list ul {
    align-self: flex-end;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.label-and-list li {
    padding: 0 22%;
}

#button-reveal {
    margin: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-reveal a {
    border: 0 solid var(--secondary-yellow);
    border-width: 0 0 4px 0;
    border-radius: 0;
    font-weight: 600;
    color: white;
    font-size: 120%;
    padding: 20px 5%;
    margin: 10px;
}

#button-revealed {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-revealed a {
    font-weight: 600;
    color: white;
    font-size: 100%;
    padding: 5px 5%;
    margin: 10px;
}

#button-revealed .correct {
    border: 0 solid var(--secondary-green);
    border-width: 0 0 4px 0;
    border-radius: 0;
}

#button-revealed .wrong {
    border: 0 solid var(--secondary-red);
    border-width: 0 0 4px 0;
    border-radius: 0;
}

.bar {
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
}

.content-green {
    color: var(--primary-green)
}

::placeholder {
    color: white;
    opacity: 1;
    font-style: italic;
    margin-left: 25px;
}

.input-and-label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: black;
    padding: 5px;
}

.input-and-label label {
    margin-right: 30px;
}

.input-and-label input {
    padding: 4px 180px 4px 5px;
    border-radius: 0;
    border-color: #d3d3d3;
    border-style: solid;
}

.warning-box {
    position: absolute;
    left: 650px;
    min-width: 300px;
}

.warning-box p {
    background-color: red;
    color: white;
    padding: 0 4px;
}

.warning-box .left-arrow {
    position: absolute;
    left: -30px;
    top: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 35px 10px 0;
    border-color: transparent #ff0000 transparent transparent;
}

.input-and-label ::placeholder {
    color: #d3d3d3;
    opacity: 1;
    font-style: italic;
}

.content-agreement {
    align-self: center;
    margin-left: 40%;
}

.content-agreement .warning-box {
    position: absolute;
    left: 408px;
    min-width: 300px;
}

#button-register {
    margin-top: 30px;
    align-self: center;
    max-width: 10%;
}

#button-register a {
    font-size: 150%;
    padding: 20px 40px;
}

.hexagon-display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hexagon-counter p {
    font-weight: 600;
    margin: -3px;
    padding: 0;
    z-index: 1;
}

.super-small-text {
    font-weight: 400 !important;
    font-size: 60%;
}

.card-level {
    --hex-height: 14.43px;
	--hex-width: 25px; 
	--hex-margin: 7.22px;
    --hex-border: 12.5px;

    --primary-green: rgb(75, 75, 75);
    
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    min-width: 20%;
    justify-content: space-between;
    margin: 5px 2%;
}

.hexagon-active {
    --primary-green: #2ECC71;
}

.skip-card {
    position: absolute;
    bottom: 0;
    right: 0;
}

.skip-card a {
    border: 0 solid var(--secondary-yellow);
    border-width: 0 0 4px 0;
    border-radius: 0;
    font-weight: 600;
    color: white;
    font-size: 80%;
    padding: 10px 30px;
    margin: 15px 20px;
}

.card-status li {
    margin: 0 15px;
}