{{define "content"}}
<div class="content-header">
    <div class="content-title">Karteikasten erstellen / Karteikasten bearbeiten</div>
    <div class="content-subtitle">
        Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.
    </div>
</div>

<div class="row" style="margin: 0 35px;">
    <div class="box col-xs-12" style="margin-bottom: 20px;">
        <div class="row overview">
            <div class="col-xs">
                <div class="ov-title">
                    Name
                </div>
                <div class="ov-subtitle">
                    {{.register.Title}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Kategorie
                </div>
                <div class="ov-subtitle">
                    {{.register.Category}} > {{.register.SubCategory}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Fortschritt
                </div>
                <div class="ov-subtitle">
                    {{.progress}} %
                </div>
            </div>
            <div class="col-xs center">
                <a href="#" class="button success-button">Bearbeiten</a>
            </div>
            <div class="col-xs center">
                <div class="hexagon hexagon-cards hexagon-cards-text">
                    <p>{{.amountCards}}</p>
                    <p class="super-small-text">Karten</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-3 cards">
        {{range $i, $card := .cards}}
        <div class="box">
            <div class="card-pos"># {{$i}}</div>
            <div class="card-title">{{$card.title}}</div>
            <div class="buttons">
                <a href="#" class="button success-button card-btn">Bearbeiten</a>
                <a href="#" class="button danger-button card-btn">
                    <img src="/static/images/icons/delete.svg" width="17px">
                </a>
            </div>
        </div>
        {{end}}
    </div>

    <div class="col-xs-12 col-md-1 col-lg-1"></div>

    <div class="col-xs-12 col-md-7 col-lg-8">
        <div class="row box" style="padding-top: 15px; padding-bottom: 10px;">
            <div class="col-label col-xs-3">
                <label>Titel</label>
            </div>
            <div class="col-input col-xs-9">
                <input type="text">
            </div>
            <div class="col-label col-xs-3">
                <label>Frage</label>
            </div>
            <div class="col-input col-xs-9">
                <textarea type="text" rows="6"></textarea>
            </div>
            <div class="col-label col-xs-3">
                <label>Antwort</label>
            </div>
            <div class="col-input col-xs-9">
                <textarea type="text" rows="6"></textarea>
            </div>
            <div class="col-xs-12 col-button center">
                <a href="/view-register?register={{.register.ID}}" class="button">Speichern</a>
                <a href="/view-register" class="button danger-button">Abbrechen</a>
            </div>
        </div>
    </div>
</div>
{{end}}