{{define "layout"}}
<html>
	{{template "header" .}}
	<body>
        <div class='content'>
            {{template "content" .}}
        </div>
        {{template "footer" .}}
	</body>
</html>
{{end}}

{{define "header"}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='/static/css/flexboxgrid.min.css'>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='stylesheet' href='/static/css/sidebar.css'>
    <link rel='stylesheet' href='/static/css/{{ .Filename }}.css'>
    <link
        href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i'
        rel='stylesheet'
    >
    <link rel='icon' type='image/png' sizes='32x32' href='/static/images/favicons/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/static/images/favicons/favicon-16x16.png'>
    <title>BrainTrain</title>
</head>
{{end}}

{{define "footer"}}
<div class='footer'>footer</div>
{{end}}