{{define "content"}}
<div class="content-header">
    <div class="content-title">Lernen</div>
    <div class="content-subtitle">
        Hier wird dir zufällig eine Karte aus der gewählten Kartei angezeigt.
    </div>
</div>

<div class="row" style="margin: 0 35px;">
    <div class="box col-xs-12" style="margin-bottom: 20px;">
        <div class="row overview">
            <div class="col-xs">
                <div class="ov-title">
                    Name
                </div>
                <div class="ov-subtitle">
                    {{.register.Title}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Kategorie
                </div>
                <div class="ov-subtitle">
                    {{.register.Category}} > {{.register.SubCategory}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Fortschritt
                </div>
                <div class="ov-subtitle">
                    {{.progress}} %
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title cus-row">
                    <div class="cus-col first">Wiederholung</div>
                    <div class="cus-col">0</div>
                    <div class="cus-col">1</div>
                    <div class="cus-col">2</div>
                    <div class="cus-col">3</div>
                    <div class="cus-col">4</div>
                </div>
                <div class="ov-subtitle cus-row">
                    <div class="cus-col first">Karten</div>
                    <div class="cus-col">{{.cardsZero}}</div>
                    <div class="cus-col">{{.cardsOne}}</div>
                    <div class="cus-col">{{.cardsTwo}}</div>
                    <div class="cus-col">{{.cardsThree}}</div>
                    <div class="cus-col">{{.cardsFour}}</div>
                </div>
            </div>
            <div class="col-xs center">
                <div class="hexagon hexagon-cards hexagon-cards-text">
                    <p>{{.amountCards}}</p>
                    <p class="super-small-text">Karten</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-1 col-lg-2"></div>

    <div class="col-xs-12 col-md-10 col-lg-8">
        <div class="row box" style="padding-top: 15px; padding-bottom: 10px;">
            <div class="col-label col-xs-3">
                <label>Titel</label>
            </div>
            <div class="col-xs-4 center" style="justify-content: left; font-weight: bold;">
                {{.card.Title}}
            </div>
            <div class="col-label col-xs-3">
                <label>Frage</label>
            </div>
            <div class="col-input col-xs-9">
                <p class="card-text">{{.card.Question}}</p>
            </div>
            <div class="col-label col-xs-3">
                <label>Antwort</label>
            </div>
            <div class="col-input col-xs-9">
            {{if .ShowAnswer}}
                <p class="card-text">{{.card.Answer}}</p>
            {{else}}
                <a href="#" class="button big-button">Aufdecken</a>
            {{end}}
            </div>
            <div class="col-xs-12 buttons center">
            {{if .ShowAnswer}}
                <a href="#" class="button success-button">Richtig</a>
                <a href="#" class="button danger-button">Falsch</a>
            {{else}}
                <a href="#" class="button">Überspringen</a>
            {{end}}
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-1 col-lg-2"></div>
</div>
{{end}}