{{define "content"}}
<div class="row">
    <div class="col">
        <h1 class="content-title text-big">Karteikasten erstellen / Karteikasten bearbeiten</h1>
        <div class="content-subtitle">Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.</div>
    </div>
</div>

<div class="row center-xs">

    <div class="box white-bg col-xs-12 col-sm-11 col-md-10 col-lg-7">
        <div class="box-title text-big">Allgemeine Daten</div>

        <form>
            <div class="row">
                <div class="col-label col-xs-4">
                    <label for="name">Titel</label>
                </div>
                <div class="col-input col-xs-8">
                    <input type="text" id="name">
                </div>

                <div class="col-label col-xs-4">
                    <label>Kategorie</label>
                </div>
                <div class="col-input col-xs-8">
                    <div class="select">
                        <select name="sort">
                            <option value="0"></option>
                            {{range .Categories}}
                            <optgroup label="{{.Name}}">
                                {{range .SubCategories}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </optgroup>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="col-label col-xs-4">
                    <label for="description">Beschreibung</label>
                </div>
                <div class="col-input col-xs-8">
                    <textarea type="text" id="description" rows="6"></textarea>
                </div>

                <div class="col-label col-xs-4">
                    <label>Sichtbarkeit</label>
                </div>
                <div class="col-input col-xs-8">
                    <input type="radio">
                    <label>öffentlich</label>
                    <input type="radio">
                    <label>privat</label>
                </div>

                <div class="col-xs-12 col-button">
                    <a href="/edit-register" class="button">Speichern und weiter</a>
                </div>

            </div>
        </form>
    </div>
</div>
{{end}}