{{define "content"}}
{{$register := .register}}
<div class="row">
    <div class="col">
        <h1 class="content-title text-big">Karteikasten erstellen / Karteikasten bearbeiten</h1>
        <div class="content-subtitle">Hier kannst du eine neue Kartei erstellen oder eine vorhandene nach Bedarf bearbeiten.</div>
    </div>
</div>

<div class="row center-xs">

    <div class="box white-bg col-xs-12 col-sm-11 col-md-10 col-lg-7">
        <div class="box-title text-big">Allgemeine Daten</div>

        <form
            {{if $register}}
            action="/update-register?register={{$register.ID}}"
            {{else}}
            action="/create-register"
            {{end}}
            method="POST"
        >
            <div class="row">
                <div class="col-label col-xs-4">
                    <label for="name">Titel</label>
                </div>
                <div class="col-input col-xs-8">
                    <input
                        {{if $register}}
                        value="{{$register.Title}}"
                        {{end}}
                        required
                        type="text"
                        id="name"
                        name="title"
                    >
                </div>

                <div class="col-label col-xs-4">
                    <label>Kategorie</label>
                </div>
                <div class="col-input col-xs-8">
                    <div class="select">
                        <select required name="category">
                            {{range .general.Categories}}
                            <optgroup label="{{.Name}}">
                                {{range .SubCategories}}
                                <option
                                    {{if $register}}
                                    {{if eq . $register.SubCategory}}
                                    selected
                                    {{end}}
                                    {{end}}
                                    value="{{.}}"
                                >{{.}}</option>
                                {{end}}
                            </optgroup>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="col-label col-xs-4">
                    <label for="description">Beschreibung</label>
                </div>
                <div class="col-input col-xs-8">
                    <textarea name="description" required type="text" id="description" rows="6">{{if $register}}{{$register.Description}}{{end}}</textarea>
                </div>

                <div class="col-label col-xs-4">
                    <label>Sichtbarkeit</label>
                </div>
                <div class="col-input col-xs-8">
                    <input
                        {{if $register}}
                        {{if $register.Private}}
                        checked
                        {{end}}
                        {{end}}
                        type="checkbox"
                        name="private"
                    >
                    <label style="margin-left: 10px">privat</label>
                </div>

                <div class="col-xs-12 col-button">
                    <button type="submit" class="button">Speichern und weiter</button>
                </div>

            </div>
        </form>
    </div>
</div>
{{end}}