{{define "content"}}
<!--content-header start-->
<div class="content-header">
    <div class="ch-title">
        Meine Karteikästen
    </div>
    <div class="ch-subtitle">
        <div>
            Hier findest du deine Karteien, sowie öffentliche Karteien, die du angefangen hast zu lernen.
        </div>
        <div class="ch-subtitle-right">
            <div class="select">
                <select name="sort">
                    <option value="0">Sortieren nach ...</option>
                    <option value="1">Naturwissenschaften</option>
                    <option value="2">Sprachen</option>
                    <option value="3">Gesellschaft</option>
                    <option value="4">Wirtschaft</option>
                    <option value="5">Geisteswissenschaften</option>
                </select>
            </div>
            
            <input class="input" type="text" placeholder="Suche">
        </div>
    </div>
</div>
<!--content-header end-->

<div class="categories">
    <!--category start-->
    <div class="cat-title">
        Selbst erstellte Karteikästen
    </div>

    <div class="cat-content">
        <div class="cat-card">
            <div class="cc-title">Naturwissenschaften > Mathematik</div>
            <div class="cc-content">
                <div class="ccc-header">
                    <div class="ccc-title">Geometrische Formen und Körper</div>
                    <div class="ccc-badge">
                        <div class="card-counter">
                            <div class="hexagon hexagon-counter hexagon-display-center">
                                <p>23</p>
                                <p class="super-small-text">Karten</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccc-content">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor....
                </div>

                <div class="ccc-visibility">Sichtbarkeit:<b style='padding-left:3em;'>öffentlich</b></div>
                <div class="ccc-progress">Fortschritt:<b style='padding-left:4em;'>30%</b></div>

                <div class="ccc-footer">
                    <a class="button cpy content-button">Lernen</a>
                    <a class="button cpy content-button success-button">Bearbeiten</a>
                    <a class="button cpy content-button danger-button"><img src='/static/images/icons/delete.svg' width='20px'></img></a>
                </div>
            </div>
        </div>

        <div class="cat-card">
            <div class="cc-title">Naturwissenschaften > Chemie</div>
            <div class="cc-content">
                <div class="ccc-header">
                    <div class="ccc-title">Geometrische Formen und Körper</div>
                    <div class="ccc-badge">
                        <div class="card-counter">
                            <div class="hexagon hexagon-counter hexagon-display-center">
                                <p>23</p>
                                <p class="super-small-text">Karten</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccc-content">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor....
                </div>

                <div class="ccc-visibility">Sichtbarkeit:<b style='padding-left:3em;'>privat</b></div>
                <div class="ccc-progress">Fortschritt:<b style='padding-left:4em;'>20%</b></div>

                <div class="ccc-footer">
                    <a class="button cpy content-button">Lernen</a>
                    <a class="button cpy content-button success-button">Bearbeiten</a>
                    <a class="button cpy content-button danger-button"><img src='/static/images/icons/delete.svg' width='20px'></img></a>
                </div>
            </div>
        </div>

        <div class="cat-card">
            <div class="cc-title">Naturwissenschaften > Chemie</div>
            <div class="cc-content">
                <div class="ccc-header">
                    <div class="ccc-title">Geometrische Formen und Körper</div>
                    <div class="ccc-badge">
                        <div class="card-counter">
                            <div class="hexagon hexagon-counter hexagon-display-center">
                                <p>23</p>
                                <p class="super-small-text">Karten</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccc-content">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor....
                </div>

                <div class="ccc-visibility">Sichtbarkeit:<b style='padding-left:3em;'>privat</b></div>
                <div class="ccc-progress">Fortschritt:<b style='padding-left:4em;'>20%</b></div>

                <div class="ccc-footer">
                    <a class="button cpy content-button">Lernen</a>
                    <a class="button cpy content-button success-button">Bearbeiten</a>
                    <a class="button cpy content-button danger-button"><img src='/static/images/icons/delete.svg' width='20px'></img></a>
                </div>
            </div>
        </div>
    </div>
    <!--category end-->

    <!--category start-->
    <div class="cat-title">
        Gelernte Karteikästen anderer Nutzer
    </div>

    <div class="cat-content">

        <div class="cat-card">
            <div class="cc-title">Naturwissenschaften > Chemie</div>
            <div class="cc-content">
                <div class="ccc-header">
                    <div class="ccc-title">Geometrische Formen und Körper</div>
                    <div class="ccc-badge">
                        <div class="card-counter">
                            <div class="hexagon hexagon-counter hexagon-display-center">
                                <p>23</p>
                                <p class="super-small-text">Karten</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccc-content">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor....
                </div>

                <div class="ccc-visibility">Sichtbarkeit:<b style='padding-left:3em;'>privat</b></div>
                <div class="ccc-progress">Fortschritt:<b style='padding-left:4em;'>20%</b></div>

                <div class="ccc-footer">
                    <a class="button cpy content-button">Lernen</a>
                    <a class="button cpy content-button success-button">Bearbeiten</a>
                    <a class="button cpy content-button danger-button"><img src='/static/images/icons/delete.svg' width='20px'></img></a>
                </div>
            </div>
        </div>
    </div>
    <!--category end-->
</div>
{{end}}