{{define "content"}}
<div class="content-header">
    <div class="content-title">Mein Profil</div>
    <div class="content-subtitle">
        Hier kannst du deine Profildaten aktualisieren oder ändern. 
    </div>
</div>

<div id="content-main">
    <div class="content-profile-wrapper">
        <div class="content-profile-left">
            <div class="content-block">
                <div class="profile-details-wrapper">
                    <div class="profile-image-wrapper">
                        {{if .hasPicture}}
                            <img class="profile-image" src="{{.pictureURL}}"/>
                        {{else}}
                            <span class="profile-dummy"></span>
                        {{end}}
                    </div>
                    
                    <div class="edit-button">
                        <input type="file" name="file" id="file" style="display: none;" onchange="encodeImageFileAsURL(this)"/>
                        <label for="file" class="button cpy">Edit</label>
                    </div>
                    <p class="name">{{.general.User.Name}}</p>
                    <p class="email">{{.general.User.Email}}</p>
                </div>
            </div>
            <div class="content-block">
                <div class="stats-wrapper">
                    <div class="stats-title">
                        <p>Statistik</p>
                    </div>
                    <div class="stats-value-wrapper">
                        <div class="content-row">
                            <div class="row-name">Erstellte Karten:</div>
                            <div class="row-value">{{.stats.Cards}}</div>
                        </div>
                        <div class="content-row">
                            <div class="row-name">Erstellte Karteien:</div>
                            <div class="row-value">{{.stats.Registers}}</div>
                        </div>
                        <div class="content-row">
                            <div class="row-name">Mitglied seit:</div>
                            <div class="row-value">{{.general.User.Date}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-profile-right">
            <div class="content-block">
                <div class="profile-form-wrapper">
                    <div class="form-title">
                        <p>Update der Profildaten</p>
                    </div>

                    <!--form start-->
                    <form action="/change-profile" method="POST" class="form">
                    
                        <div class="content-row">
                            <div class="row-name">Neue Email:</div>
                            <div class="row-value">
                                <input type="text" name="newEmail">
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="row-name">Altes Passwort:</div>
                            <div class="row-value">
                                <input type="text" name="password">
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="row-name">Neues Passwort:</div>
                            <div class="row-value">
                                <input type="text" name="newPassword">
                            </div>
                        </div>
                        <div class="content-row">
                            <div class="row-name">Passwort wiederholen:</div>
                            <div class="row-value">
                                <input type="text" name="newPasswordAgain">
                            </div>
                        </div>

                        <div class="button-wrapper">
                            <button type="submit" class="button">Speichern</button>
                            <a href="/delete-profil" class="button danger-button">
                                <img src="/static/images/icons/delete.svg" width="20px">
                            </a>
                        </div>
                    </form>
                    <!--form end-->
                </div>
            </div>
        </div>
    </div>
        
</div>

{{if .SuccessUpdateProfile}}
<script>
    alert('Profildaten erfolgreich geändert!')
</script>
{{end}}

{{if .general.ErrorDuringSave}}
<script>
    alert('Beim Speichern ist ein Fehler aufgetreten!')
</script>
{{end}}

<script>
    function encodeImageFileAsURL(element) {
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function() {
            console.log('RESULT', reader.result)
            var xhr = new XMLHttpRequest();
            xhr.open("POST", `${location.origin}/upload-profile-picture`, true);
            xhr.setRequestHeader('Content-Type', 'text/plain');
            xhr.send(reader.result);
        }
        reader.readAsDataURL(file);
    }
</script>
{{end}}