{{define "content"}}
<!--content-header start-->
<div class="content-header">
    <div class="ch-title">
        Karteikästen
    </div>
    <div class="ch-subtitle">
        <div>
            Im Karteikasten findest du alle öffentlichen Karteien.
        </div>
        <div class="ch-subtitle-right">
            <div class="select">
                <select name="sort" id="cat-selection">
                    <option value="0">Sortieren nach ...</option>
                    <option value="1">Naturwissenschaften</option>
                    <option value="2">Sprachen</option>
                    <option value="3">Gesellschaft</option>
                    <option value="4">Wirtschaft</option>
                    <option value="5">Geisteswissenschaften</option>
                </select>
            </div>
            
            <input class="input" type="text" placeholder="Suche">
        </div>
    </div>
</div>
<!--content-header end-->

{{ $categories := .categories }}
{{ $registers := .registers }}
{{ $general := .general }}

<div class="categories">
    {{range $category := $categories}}
    <div class="cat-title filter-ident" category={{$category}} display="block">
        {{$category}}
    </div>

    <div class="cat-content filter-ident" category={{$category}} display="flex">
        {{range $register := $registers}}
        {{if eq $register.Category $category}}
        <div class="cat-card">
            <div class="cc-title">{{$register.SubCategory}}</div>
            <div class="cc-content">
                <div class="ccc-header">
                    <div class="ccc-title">
                        <a
                            href="/view-register?register={{$register.ID}}"
                            style="color: black;"
                        >
                            {{$register.Title}}
                        </a>
                    </div>
                    <div class="ccc-badge">
                        <div class="card-counter">
                            <div class="hexagon hexagon-counter hexagon-display-center">
                                <p>{{$register.Misc.amountCards}}</p>
                                <p class="super-small-text">Karten</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccc-content">
                    {{$register.Description}}
                </div>
                <div class="ccc-footer">
                    {{if $general.LoggedIn}}
                    <a href="/learn-register?register={{$register.ID}}" class="button cpy content-button">Lernen</a>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
        {{end}} 
    </div>
    {{end}}
    <script>
        $('#cat-selection').on('change', function (e) {
            var optionSelected = $("option:selected", this).html();
            var valueSelected = this.value;

            $('.filter-ident').each(function() {
                var display = $(this).attr('display');
                var cat = $(this).attr('category');
                if (valueSelected == 0 || cat == optionSelected) {
                    $(this).css('display', display);
                    return;
                }

                $(this).css('display', 'none');
            });
        });
    </script>
</div>
{{end}}