{{define "content"}}
<div class="content-header">
    <div class="content-title">Karteikasten anschauen</div>
    <div class="content-subtitle">
        Hier kannst du dir eine beliebige Kartei anschauen ohne Sie zu bearbeiten.
    </div>
</div>

<div class="row" style="margin: 0 35px;">
    <div class="box col-xs-12" style="margin-bottom: 20px;">
        <div class="row overview">
            <div class="col-xs">
                <div class="ov-title">
                    Name
                </div>
                <div class="ov-subtitle">
                    {{.register.Title}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Kategorie
                </div>
                <div class="ov-subtitle">
                    {{.register.Category}} > {{.register.SubCategory}}
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Erstellt von
                </div>
                <div class="ov-subtitle">
                    Max Mustermann
                </div>
            </div>
            <div class="col-xs">
                <div class="ov-title">
                    Fortschritt
                </div>
                <div class="ov-subtitle">
                    {{.progress}} %
                </div>
            </div>
            <div class="col-xs center">
                <div class="hexagon hexagon-cards hexagon-cards-text">
                    <p>{{.amountCards}}</p>
                    <p class="super-small-text">Karten</p>
                </div>
            </div>
        </div>
    </div>

    {{ $activeCard := .card }}
    <div class="col-xs-12 col-md-4 col-lg-3 cards">
        {{range $i, $card := .cards}}
        {{if eq $card._id $activeCard._id}}
        <div class="box box-active">
        {{else}}
        <div class="box">
        {{end}}
            <div class="card-pos"># {{$i}}</div>
            <div class="card-title">{{$card.title}}</div>
        </div>
        {{end}}
    </div>

    <div class="col-xs-12 col-md-1 col-lg-1"></div>

    <div class="col-xs-12 col-md-7 col-lg-8">
        <div class="row box" style="padding-top: 15px; padding-bottom: 10px;">
            <div class="col-label col-xs-3">
                <label>Titel</label>
            </div>
            <div class="col-xs-4 center" style="justify-content: left; font-weight: bold;">
                {{$activeCard.title}}
            </div>
            <div class="col-xs-5 center" style="justify-content: left;">
                <div class="hexagon-small hexagon-counter hexagon-display-center{{if eq 0.0 $activeCard.progress}} green{{end}}">
                    <p>0</p>
                </div>
                <div class="hexagon-small hexagon-counter hexagon-display-center{{if eq 1.0 $activeCard.progress}} green{{end}}">
                    <p>1</p>
                </div>
                <div class="hexagon-small hexagon-counter hexagon-display-center{{if eq 2.0 $activeCard.progress}} green{{end}}">
                    <p>2</p>
                </div>
                <div class="hexagon-small hexagon-counter hexagon-display-center{{if eq 3.0 $activeCard.progress}} green{{end}}">
                    <p>3</p>
                </div>
                <div class="hexagon-small hexagon-counter hexagon-display-center{{if eq 4.0 $activeCard.progress}} green{{end}}">
                    <p>4</p>
                </div>
            </div>
            <div class="col-label col-xs-3">
                <label>Frage</label>
            </div>
            <div class="col-input col-xs-9">
                <p class="card-text">{{$activeCard.question}}</p>
            </div>
            <div class="col-label col-xs-3">
                <label>Antwort</label>
            </div>
            <div class="col-input col-xs-9">
                <p class="card-text">{{$activeCard.answer}}</p>
            </div>
        </div>
    </div>
</div>
{{end}}